In [81]:
import pandas as pd
import numpy as np

In [82]:
def load_data():
    train_df = pd.read_csv('Dataset/train.csv')
    test_df = pd.read_csv('Dataset/test.csv')
    val_df = pd.read_csv('Dataset/val.csv')
    train_val_df = pd.read_csv('Dataset/trainval.csv')
    return train_df, test_df, val_df, train_val_df

In [83]:
if __name__ == '__main__':
   train_df, test_df, val_df, train_val_df = load_data()
   print(train_df.shape, val_df.shape,test_df.shape,train_val_df.shape)

(170884, 31) (56960, 31) (56960, 31) (56960, 31)

# EDA #

In [94]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 170436 entries, 0 to 170883
Data columns (total 30 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    170436 non-null  float64
 1   V1      170436 non-null  float64
 2   V2      170436 non-null  float64
 3   V3      170436 non-null  float64
 4   V4      170436 non-null  float64
 5   V5      170436 non-null  float64
 6   V6      170436 non-null  float64
 7   V7      170436 non-null  float64
 8   V8      170436 non-null  float64
 9   V9      170436 non-null  float64
 10  V10     170436 non-null  float64
 11  V11     170436 non-null  float64
 12  V12     170436 non-null  float64
 13  V13     170436 non-null  float64
 14  V14     170436 non-null  float64
 15  V15     170436 non-null  float64
 16  V16     170436 non-null  float64
 17  V17     170436 non-null  float64
 18  V18     170436 non-null  float64
 19  V19     170436 non-null  float64
 20  V20     170436 non-null  float64
 21  V21     170436 non-null  float64
 22  V22     170436 non-null  float64
 23  V23     170436 non-null  float64
 24  V24     170436 non-null  float64
 25  V25     170436 non-null  float64
 26  V26     170436 non-null  float64
 27  V27     170436 non-null  float64
 28  V28     170436 non-null  float64
 29  Amount  170436 non-null  float64
dtypes: float64(30)
memory usage: 40.3 MB

In [95]:
train_df.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
count,170436.000000,170436.000000,170436.000000,170436.000000,170436.000000,170436.000000,170436.000000,170436.000000,170436.000000,170436.000000,...,170436.000000,170436.000000,170436.000000,170436.000000,170436.000000,170436.000000,170436.000000,170436.000000,170436.000000,170436.000000
mean,94964.883252,0.003016,-0.003764,-0.001770,-0.004885,0.001359,-0.000109,0.000715,-0.002095,-0.001676,...,-0.000960,0.000341,-0.000016,0.000579,-0.000780,-0.000788,-0.000671,0.001634,0.000775,88.596637
std,47458.729255,1.951034,1.646755,1.516106,1.415351,1.391759,1.337909,1.251332,1.191566,1.096377,...,0.777817,0.730435,0.725241,0.620362,0.605168,0.521052,0.481640,0.398607,0.313420,256.942683
min,0.000000,-46.855047,-63.344698,-48.325589,-5.683171,-113.743307,-23.496714,-43.557242,-73.216718,-13.434066,...,-54.497720,-34.830382,-10.933144,-36.666000,-2.836627,-7.081325,-2.604551,-9.895244,-15.430084,0.000000
25%,54355.000000,-0.919288,-0.600188,-0.896354,-0.850234,-0.690660,-0.769441,-0.553610,-0.209678,-0.642834,...,-0.211575,-0.228009,-0.543061,-0.160869,-0.354463,-0.318465,-0.327476,-0.070596,-0.052949,5.640000
50%,84923.500000,0.018437,0.064566,0.177007,-0.022444,-0.053562,-0.274847,0.040934,0.021147,-0.052595,...,-0.062629,-0.029584,0.006095,-0.010625,0.040433,0.016671,-0.051336,0.001601,0.011229,22.080000
75%,139388.000000,1.316771,0.799875,1.028136,0.735256,0.612154,0.399075,0.569308,0.325010,0.594459,...,0.133227,0.186473,0.528623,0.147974,0.437967,0.350126,0.240168,0.091825,0.078454,77.822500
max,172792.000000,2.451888,22.057729,4.226108,16.875344,34.099309,73.301626,120.589494,18.282168,10.392889,...,39.420904,27.202839,10.503090,22.528412,4.584549,6.070850,3.517346,31.612198,16.129609,25691.160000

In [84]:
print(train_df.isna().sum())

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [85]:
print(train_df.duplicated().sum())

448

In [86]:
train_df = train_df.drop_duplicates()

##### now, data is clean and no null values, no duplicated values

In [87]:
target_train_df = train_df['Class']
train_df = train_df.drop('Class',axis=1)
target_val_df = val_df['Class']
val_df = val_df.drop('Class',axis=1)

target_train_df.sum()

np.int64(297)

In [88]:
train_df['Time'].dtype

dtype('float64')

# Data Preprocessing

In [89]:
train = train_df.to_numpy()
target_train = target_train_df.to_numpy()
val = val_df.to_numpy()
target_val = target_val_df.to_numpy()
test = test_df.to_numpy()

In [90]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler
processor = StandardScaler()
train = processor.fit_transform(train)
val = processor.transform(val)

# Modeling

In [91]:
from sklearn.linear_model import LogisticRegression

In [92]:
model = LogisticRegression()
model.fit(train,target_train)
pred_val = model.predict(val)
prob_val = model.predict_proba(val)[:,1]

# Evaluation

In [93]:
from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score, classification_report

print(f'Accuracy Score is : {accuracy_score(target_val,pred_val)}')

print(f'Confustion Matrix is : \n{confusion_matrix(target_val,pred_val)}')
print(f'ROC-AUC-Score is :\n {roc_auc_score(target_val,prob_val)}')
print(f'Classification report is : \n{classification_report(target_val,pred_val)}')

Accuracy Score is : 0.9993328651685394
Confustion Matrix is :
[[56864     6]
 [   32    58]]
ROC-AUC-Score is :
 0.9812554949885706
Classification report is :
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     56870
           1       0.91      0.64      0.75        90

    accuracy                           1.00     56960
   macro avg       0.95      0.82      0.88     56960
weighted avg       1.00      1.00      1.00     56960

#### some analysis on the Benchmark
- obviously there is an imbalanced dataset trap lead to misleading predictions
- for class 1 there is a bad recall, which means a big FN, we need to increase the recall value
- for class 1 there is great precision, we need to maintain it as we can while imporving the False Negatives